.userlogut{
	margin-bottom: 20px;

	.username{
		font-size: 0.8em;
	}

	.userlogut{
		font-size: 0.7em;
	}
}

.new-kepp{
	background: @primary-color-white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	border-radius: 0px;

	.form-keep{
		margin-bottom: 0px;
		
		.form-keep-control{
			border: 0px solid @primary-color-white;
			border-radius: 0px;
			width: 100%;
			height: 60px;
		}
	}

	.form-save{
		color: @font-color-app;
		font-size: 1.5em;
		font-style: none;
		padding: 5px;

		.form-save-link{
			padding: 10px;
		}
	}	
	
	.lblPriority{
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}

	.bfh-number{
		width: 60px;
	}
}

.bodykeep{
	margin-top: 10px;
	padding-top: 10px;
	
	.keep-col{
		margin-bottom: 20px;
	}
	.keepcontent{
		background: @color-primary;
		color: @primary-color-white;
		padding: 15px;
		-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);

		.keeptitle{
			.keeptitle_item{
				color: @primary-color-white;
				display: block;
				font-size: 1em;
				margin: 0px;
				text-align: right;
			}
		}
	}
}

.lblPriority{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.bfh-number{
	width: 60px;
}

.form-keep-control{
	border: 0px solid @primary-color-white;
	border-radius: 0px;
	width: 100%;
	height: 60px;
}

.modal-pr{
	border-radius: 0px;
	top:100px;
}

.row-pr{
	margin-bottom: 10px;
}